<header>
    <div class="navbar navbar-orange shadow-sm" style="background-color:#035397">
        <div class="navbar-brand align-item-center d-flex" style="font-size: 32px; color: white">
            <i class="fas fa-shipping-fast">&nbsp;
            </i>
                <strong style="font-size: 22px;"> Quickart </strong>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="search products">
                </div>  
                <span class="search fa fa-search fa-xs"></span>          
        </div>
        <button class="btn btnn" style="background-color:#035397; color: white;">
           <i class="fas fa-cart-plus" style="font-size: 30px;"></i> 
           <div class="badge bg-warning">5</div>
        </button>
    </div>
</header>
